extends ../layout

block content
    h1 Secret Page!
    h2 Hello #{user.name}. You are already logged in!

    form(method="POST" action=userUpdatePath style="margin: 20px 0; max-width: 600px; padding: 20px; border: 1px solid #ccc;")
        div(style="margin-bottom: 10px;")
            label(for="name") Name
            input(type="text" name="name" id="name" value=user.name)
        div(style="margin-bottom: 10px;")
            label(for="password") Password
            input(type="password" name="password" id="password")
        div(style="margin-bottom: 10px;")
            input(type="hidden" name="_csrf" value=_csrf)
            button(type="submit") Update User Information
    form(method="POST" action=logoutPath style="margin: 20px 0; max-width: 600px; padding: 20px; border: 1px solid #ccc;")
        input(type="hidden" name="_csrf" value=_csrf)
        button(type="submit") Logout
    if user.type === 'master'
        a(href=userIndexPath target="_blank") Users


